@{
	ViewData["Title"] = "Display Vaccines";
}

<div class="text-center">
	<div>
		<a asp-controller="VaccineManagement" asp-action="AddVaccine">New Vaccine</a> |
		<a asp-controller="VaccineManagement" asp-action="AddDoses">New Doses</a>
	</div>

	<br>

	<table class="table">
		<thead>
			<tr>
				<th>Vaccine</th>
				<th>Doses Required</th>
				<th>Days Between Doses</th>
				<th>Total Doses Received</th>
				<th>Total Doses Left</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var Vaccine in ViewBag.Vaccines)
			{
				<tr>
					<td>@Vaccine.Name</td>
					<td>@Vaccine.DosesRequired</td>
					<td>@Vaccine.DaysBetween</td>
					<td>@Vaccine.TotalDosesReceived</td>
					<td>@Vaccine.TotalDosesLeft</td>
					<td><a asp-controller="VaccineManagement" asp-action="EditVaccine" asp-route-id="@Vaccine.Id">Edit</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>