@model Vaccine

@{
	ViewData["Title"] = "Edit Vaccine";
}

<div class="text-center">
	<div>
		<a asp-controller="VaccineManagement" asp-action="DisplayVaccines">Display All Vaccines</a>
	</div>

	<br>

	<form method="post">
		<div class="form-group row">
			<label for="Name" class="col-sm-2 col-form-label">Name&colon; </label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
			</div>
		</div>
		<div class="form-group row">
			<label for="DosesRequired" class="col-sm-2 col-form-label">Doses Required&colon; </label>
			<div class="col-sm-8">
				<select class="form-control" id="DosesRequired" name="DosesRequired" selected="@Model.Id">
					@for(int i = 1; i <= 2; i++)
					{
						@if(i == @Model.DosesRequired)
						{
							<option selected>@i</option>
						}
						else
						{
							<option>@i</option>
						}
					}
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="DaysBetween" class="col-sm-2 col-form-label">Days Between Doses&colon; </label>
			<div class="col-sm-8">
				<input type="number" class="form-control" id="DaysBetween" name="DaysBetween" value="@Model.DaysBetween">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Edit</button>
	</form>
</div>